.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  margin-right: 7vw;
  margin-left: 7vw;
}

.plan-blocks-container {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: -2vh;
  width: 87vw;
}

.rigth-tables-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.plan-blocks-caption-container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  width: 100%;
}

.plan-blocks-caption {
  width: auto;
  height: 4vh;
  top: 0;
  font-size: 2.8vh;
  background-color: rgba(240, 246, 251, 1);
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: bold;
  margin-right: 1vw;
  white-space: nowrap;
}
.plan-blocks-caption-settings {
  border: none;
  outline: none;
  height: 3vh;
  width: 3vh;
  line-height: 2vh;
  margin-right: 69vw;
  background-color: rgba(240, 246, 251, 1);
  align-self: center;
}

.plan-blocks-caption-settings:focus {
  border: none;
  outline: none;
}
.plan-blocks-caption-settings-icon {
  height: 3vh;
  width: 3vh;
}
.plan-switch-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0.4vh 0.2vw;
  height: 3.4vh;
  width: 5.5vw;
  border-radius: 5px;
}

.plan-switch-buttons-container-item:hover {
  background-color: rgba(157, 197, 196, 0.15);
}

.plan-switch-buttons-container-item {
  padding: 0.2vh 0.2vw;
  border-radius: 5px;
}

.plan-switch-buttons-container-item-active {
  background-color: rgba(157, 197, 196, 0.3);
  padding: 0.2vh 0.2vw;
  border-radius: 5px;
}

.plan-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 4vh;
  max-width: 100%;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  /* overflow-x: scroll; */
  scrollbar-width: none;
  /* scrollbar-color: rgb(255, 25, 0); */
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 1.85vh;
}

.plan-tabs-container-li {
  /* flex: 0 0 auto; отключаем растягивание элементов */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 1vw; /* задаем отступ между элементами */
  list-style-type: none;
  color: rgba(124, 127, 135, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  max-width: 16vw;
  min-width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 3vh;
  border-radius: 15px;
}

.plan-tabs-container-li:hover {
  background-color: rgba(116, 116, 122, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.plan-tabs-container-li-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1vw; /* задаем отступ между элементами */
  list-style-type: none;
  color: rgba(43, 152, 153, 0.9);
  font-family: "Signika", sans-serif;
  font-size: 1.55vh;
  font-weight: bold;
  max-width: 16vw;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.plan-tab-icon {
  height: 2vh;
  width: 2vh;
  border-radius: 10px;
  margin-right: 0.5vw;
}

.plan-tabs-tab-count-disciplines {
  border: 1px solid rgba(116, 116, 122, 0.2);
  border-radius: 15px;
  width: 1.2vw;
  height: 1.2vw;
  color: rgba(67, 68, 76, 1);
  background-color: rgba(255, 255, 255);
  line-height: 1.2vw;
  align-self: center;
  text-align: center;
  margin-left: 0.2vw;
}
.plan-tabs-tab {
  color: rgba(124, 127, 135, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
}
.plan-tabs-tab-active {
  color: rgba(43, 152, 153, 0.9);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  position: relative;
}
.plan-tabs-tab-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgba(43, 152, 153, 0.9);
  left: 0;
  width: 100%;
  z-index: 10;
  height: 2px;
  border-radius: 15px;
}

.plan-block-tab-content {
  height: 40vh;
  margin-bottom: 4vh;
}

/* .plan-tabs-container-li-active::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: #007bff;
} */

::-webkit-scrollbar {
  height: 0.5vh; /* ширина скроллбара */
}

.plan-disciplines-credits-bound-warning-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 2vh 1vw;
  width: 100%;
  height: auto;
  background-color: rgba(253, 237, 238, 1);
  margin-bottom: 20vh;
  border-radius: 15px;
}

.plan-disciplines-credits-bound-warning-icon {
  width: 3vh;
  height: 3vh;
  margin-right: 1vw;
  justify-self: center;
}

.plan-disciplines-credits-bound-warning-content {
  height: 5vh;
  width: auto;
  color: rgba(67, 68, 76, 1);
  font-family: "Signika", sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
  margin-right: 1vw;
}
.plan-disciplines-credits-bound-warning-content-msgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(67, 68, 76, 1);
  font-family: "Signika", sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
}
.plan-disciplines-credits-bound-warning-content-msg {
  height: 2vh;
  width: 100%;
  color: rgba(67, 68, 76, 1);
  font-family: "Signika", sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
}

.plan-struct-back-arrow {
  position: sticky;
  top: 50%;
  height: 7vh;
  border-radius: 10px;
  width: 7vh;
  margin-left: 1vw;
  z-index: 20;
  line-height: 7vh;
  text-align: center;
  background-color: rgba(240, 246, 251, 1);
}

.plan-struct-back-arrow-icon {
  height: 3vh;
  width: 3vh;
}

.plan-struct-back-arrow:hover {
  background-color: rgba(153, 149, 149, 0.3);
}

.plan-struct-next-arrow:hover {
  background-color: rgba(153, 149, 149, 0.3);
}

.plan-struct-settings-container {
  display: flex;
  flex-direction: column;
  padding: 1vw 2vh;
  border-radius: 20px;
  /* border: 2px solid rgb(155, 156, 159, 0.5); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  height: 0vh;
  transition: height 0.3s ease-in-out;
  background-color: rgba(255, 255, 255);
}
.plan-struct-settings-block-container {
}

.plan-struct-next-arrow {
  position: sticky;
  top: 50%;
  bottom: 2vh;
  right: 2vw;
  height: 10vh;
  width: 10vh;
  line-height: 10vh;
  text-align: center;
  background-color: rgba(153, 149, 149, 0.1);
  transform: scaleX(-1);
}

.plan-struct-next-arrow-icon {
  height: 3vh;
  width: 3vh;
}

.plan-structure-selected-competencies-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 4vh;
  margin-top: 5.1%;
  margin-left: 7vw;
  margin-bottom: 0;
  width: 70%;
  padding-left: 0vw;
  padding-right: 0.5vw;
  /* overflow-x: scroll; */
  scrollbar-width: none;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-structure-selected-competencies-tabs-container-li {
  /* flex: 0 0 auto; отключаем растягивание элементов */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 1vw;
  list-style-type: none;
  color: rgba(124, 127, 135, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 100%;
  max-width: 16vw;
  min-width: auto;
  padding: 0 0.5vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 7px 15px 0 0;
  background-color: rgba(240, 246, 251, 1);
}

.plan-structure-selected-competencies-tabs-container-li:hover {
  background-color: rgba(116, 116, 122, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.plan-structure-selected-competencies-tabs-container-li-active {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 1vw;
  list-style-type: none;
  color: rgba(43, 152, 153, 0.9);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.62vh;
  max-width: 16vw;
  min-width: auto;
  padding: 0 0.5vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  /* box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 7px 15px 0 0;
  z-index: 1;
  background-color: rgba(240, 246, 251, 1);
  /* border-bottom: 4px solid rgba(43, 152, 153, 0.9); */
  position: relative;
}
.plan-structure-selected-competencies-tabs-container-li-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgba(43, 152, 153, 0.9);
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 15px;
}

.plan-structure-selected-competencies-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 28vh;
  margin-left: 7%;
  margin-top: 1%;
  width: 70%;
  padding: 1vw 2vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease-in-out;
  background-color: rgba(255, 255, 255);
}

.plan-structure-selected-competencies-caption {
  height: 3vh;
  top: 0;
  margin-right: 0.5vw;
  background-color: rgba(255, 255, 255);
  font-size: 2.2vh;
  color: rgba(51, 51, 51, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  text-align: left;
  align-self: left;
  border: none; /* убираем границу */
  outline: none;
}
.plan-structure-selected-competencies-caption:focus {
  border: none; /* убираем границу */
  outline: none;
}
.plan-structure-selected-competencies-table-container {
  max-height: 24vh;
  overflow-y: scroll;
}
.plan-structure-selected-competencies-table {
  width: 100%;
}
.plan-structure-selected-competencies-table-thead {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255);
}
.plan-structure-selected-competencies-table-header-line {
  border-bottom: 0.5px solid rgba(247, 247, 247, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}
.plan-structure-selected-competencies-table-header-line-td {
  padding-left: 1vw;
}
.plan-structure-selected-competencies-table-tr {
  /* background-image: linear-gradient(
    to right,
    rgba(144, 162, 104, 0.3) 10%,
    rgba(255, 255, 255) 0
  ); */
  height: 5vh;
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 3.5px solid rgba(240, 246, 251, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: 500;
}

.plan-structure-selected-competencies-table-tbody-td {
  padding-left: 1vw;
  line-height: 2.8vh;
}

.plan-structure-selected-competencies-table-tbody-td:first-child {
  border-radius: 10px 0px 0px 10px;
}
.plan-structure-selected-competencies-table-tr:hover {
  background: rgba(249, 251, 252, 1);
}
.competencies-enter {
  opacity: 0;
}
.competencies-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.competencies-exit {
  opacity: 1;
}

.competencies-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.plan-structure-settings-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.plan-structure-settings-modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgba(255, 255, 255);
  margin: 10% auto;
  padding: 1vh 1vh;
  width: 35%;
  height: 45%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.plan-structure-settings-modal-caption-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}
.plan-structure-settings-modal-caption {
  font-size: 1.75vh;
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: 700;
}
.plan-structure-settings-modal-close {
  position: absolute;
  height: 3vh;
  width: 3vh;
  color: #aaa;
  top: 1vh;
  right: 1vw;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.plan-structure-settings-modal-table-container {
  max-height: 80%;
  overflow-y: scroll;
  width: 85%;
}

.plan-structure-settings-modal-table {
  /* margin-top: 4vh; */
  width: 100%;
}
.plan-structure-settings-modal-table-td-input {
  border: none;
  outline: none;
  padding-left: 0.5vw;
  border-radius: 8px;
  width: 55%;
  font-size: 1.5vh;
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.plan-structure-settings-modal-table-tbody-td-label {
  padding-left: 1vw;
  line-height: 2.8vh;
  width: 70%;
}
.plan-structure-settings-modal-table-tbody-td-input {
  padding-left: 1vw;
  line-height: 2.8vh;
  width: 30%;
}
.plan-structure-settings-modal-table-td-input:focus {
  border: none;
  outline: none;
}
.plan-structure-explain-plan-semester-cell-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1vw;
  width: 100%;
  margin-bottom: 4vh;
}
.plan-structure-explain-plan-semester-cell-info {
  font-size: 1.8vh;
  background-color: rgba(240, 246, 251, 1);
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: bold;
  margin-bottom: 1vh;
}
.plan-structure-explain-plan-semester-cell {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 25vw;
  height: 6vh;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.75vh;
  background-color: rgba(240, 246, 251, 1);
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: 500;
}
.plan-structure-explain-plan-semester-cell-aud-row {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50%;
  border-bottom: 1px dashed rgb(0, 0, 0);
}
.plan-structure-explain-plan-semester-cell-aud-row-cell {
  text-align: center;
  width: 100%;
  height: 100%;
  border-right: 1px dashed rgb(0, 0, 0);
}
.plan-structure-explain-plan-semester-cell-aud-row-cell-last {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
}
.plan-structure-explain-plan-semester-cell-iws-row {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50%;
  width: 100%;
}
.plan-structure-explain-plan-semester-cell-iws-row-cell {
  text-align: center;
  border-right: 1px dashed rgb(0, 0, 0);
  width: 50%;
  height: 100%;
}
.plan-structure-explain-plan-semester-cell-iws-row-cell-last {
  text-align: center;
  height: 100%;
  width: 50%;
  border: none;
}
