.plan-blocks-container {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 2%;
  width: 70%;
}

.plan-blocks-caption-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 6vh;
}

.plan-blocks-caption {
  width: 100%;
  height: 4vh;
  top: 0;
  font-size: 2.8vh;
  background-color: #f8f3f3;
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: bold;
}

.plan-switch-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0.4vh 0.2vw;
  height: 3.2vh;
  width: 4vw;
  border-radius: 5px;
  border-top: 1px solid rgba(116, 116, 122, 0.3);
  border-bottom: 1px solid rgba(116, 116, 122, 0.3);
}

.plan-switch-buttons-container-item:hover {
  background-color: rgba(116, 116, 122, 0.12);
}

.plan-switch-buttons-container-item {
  padding: 0.2vh 0.2vw;
  border-radius: 5px;
}

.plan-switch-buttons-container-item-active {
  background-color: rgba(116, 116, 122, 0.2);
  padding: 0.2vh 0.2vw;
  border-radius: 5px;
}

.plan-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 4vh;
  max-width: 100%;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-color: yellow;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-tabs-container-li {
  /* flex: 0 0 auto; отключаем растягивание элементов */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-right: 1vw; /* задаем отступ между элементами */
  list-style-type: none;
  color: rgba(124, 127, 135, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  max-width: 16vw;
  min-width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 3vh;
  border-radius: 15px;
}

.plan-tabs-container-li:hover {
  background-color: rgba(116, 116, 122, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.plan-tabs-container-li-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1vw; /* задаем отступ между элементами */
  list-style-type: none;
  color: rgba(67, 68, 76, 1);
  font-family: "Signika", sans-serif;
  font-size: 1.5vh;
  font-weight: bold;
  max-width: 16vw;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-tab-icon {
  height: 2vh;
  width: 2vh;
  border-radius: 10px;
  margin-right: 0.5vw;
}

.plan-tabs-tab-count-disciplines {
  border: 1px solid rgba(116, 116, 122, 0.2);
  border-radius: 15px;
  width: 1.2vw;
  height: 1.2vw;
  line-height: 1.2vw;
  align-self: center;
  text-align: center;
}

.plan-block-tab-content {
  height: 40vh;
  margin-bottom: 4vh;
}

/* .plan-tabs-container-li-active::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: #007bff;
} */

::-webkit-scrollbar {
  height: 0.5vh; /* ширина скроллбара */
}

.plan-disciplines-credits-bound-warning-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 2vh 1vw;
  width: 100%;
  height: 10vh;
  background-color: rgba(253, 237, 238, 1);
  margin-bottom: 20vh;
  border-radius: 15px;
}

.plan-disciplines-credits-bound-warning-icon {
  width: 3vh;
  height: 3vh;
  margin-right: 1vw;
  justify-self: center;
}

.plan-disciplines-credits-bound-warning-content {
  height: 5vh;
  width: 100%;
  color: rgba(67, 68, 76, 1);
  font-family: "Signika", sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
}
