.plan-disciplines-conteiner {
  display: flex;
  flex-direction: column;
  padding: 1vw 2vh;
  border-radius: 20px;
  /* border: 2px solid rgb(155, 156, 159, 0.5); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  max-height: 28vh;
  max-width: 100%;
  transition: height 0.3s ease-in-out;
  background-color: rgba(255, 255, 255);
}

.plan-discipline-table-container {
  max-height: 24vh;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.plan-disciplines-table {
  /* margin-top: 4vh; */
  width: 100%;
  table-layout: fixed;
}

.plan-disciplines-table-caption-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 4vh;
  max-width: 20vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-list-caption-icon {
  height: 2vh;
  width: 2vh;
  border-radius: 10px;
  margin-right: 0.5vw;
}

.plan-list-caption-count-disciplines {
  border: 1px solid rgba(116, 116, 122, 0.3);
  border-radius: 15px;
  width: 1.2vw;
  height: 1.2vw;
  line-height: 1.2vw;
  align-self: center;
  text-align: center;
}

#scroll-top,
#scroll-bottom {
  position: fixed;
  width: 100%;
  height: 15vh;
  background-color: rgba(116, 116, 122, 0.2);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3vh;
  cursor: pointer;
  z-index: 11;
}

#scroll-top {
  top: 10px;
  transform: scaleY(-1);
}

#scroll-bottom {
  bottom: 10px;
  color: rgb(255, 255, 255);
}

#scroll-top-img {
}

#scroll-bottom-img {
  color: rgb(255, 255, 255);
}

.plan-disicplines-table-caption {
  height: 3vh;
  top: 0;
  font-size: 2.2vh;
  margin-right: 0.5vw;
  background-color: rgba(255, 255, 255);
  color: rgba(51, 51, 51, 1);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  text-align: center;
  align-self: center;
  border: none; /* убираем границу */
  outline: none;
}

.plan-disicplines-table-caption:focus {
  border: none; /* убираем границу */
  outline: none;
}

.plan-disciplines-table-thead {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255);
}
/* html {
  scroll-snap-type: y mandatory;
} */

/* .plan-disciplines-table-thead-separator {
  margin-top: 3px;
  height: 1px;
  background-color: rgb(155, 156, 159, 0.5);
  width: 100%;
} */

.plan-disciplines-table-thead-line {
  border-bottom: 1px solid rgba(247, 247, 247, 1);
  color: rgb(116, 116, 122);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}

::-webkit-scrollbar {
  width: 0.3vw; /* ширина скроллбара */
}

/* ползунок */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* цвет ползунка */
  border-radius: 10px; /* скругление углов ползунка */
}

/* трек (бар) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* цвет трека */
}

/* уголки трека */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* цвет уголков */
}

.plan-discipline-table-tr:hover {
  background: rgba(249, 251, 252, 1);
}

.plan-discipline-table-tr:nth-child(even):hover {
  background: rgba(249, 251, 252, 1);
}

/* .plan-discipline-table-tr:nth-child(even) {
  height: 4vh;
  background-color: rgba(110, 122, 185, 0.3);
} */

.plan-discipline-table-tr {
  height: 6vh;
  color: rgba(61, 78, 87, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 3px solid rgba(240, 246, 251, 1);
}

.plan-disciplines-table-thead-line-td:nth-child(n + 3) {
  text-align: center;
  font-weight: 500;
}
.plan-disciplines-table-thead-line-td:first-child {
  padding-left: 1vw;
  width: 15vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
/* .plan-disciplines-table-thead-line-td:nth-child(1), */
.plan-disciplines-table-thead-line-td:nth-child(2) {
  text-align: center;
  border: 1px solid rgba(240, 246, 251, 1);
}
.plan-discipline-table-tr-td:nth-child(1) {
  padding-left: 1vw;
  width: 13vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  /* text-overflow: ellipsis; */
  border-bottom: 3px solid rgba(240, 246, 251, 1);
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-discipline-table-tr-td:nth-child(5) {
  text-align: center;
  width: 4vw;
  background-color: rgb(231, 233, 234);
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-discipline-table-tr-td:nth-child(2) {
  width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-discipline-table-tr-td:nth-child(3) {
  width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-discipline-table-tr-td:nth-child(4) {
  width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-discipline-table-tr-td-input-semesters-nums {
  width: 100%;
  writing-mode: vertical-lr;
  white-space: pre-wrap;
  /* height: 6vh; */
  outline: none;
  border: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}
.plan-discipline-table-tr-td-input-semesters-nums:focus {
  outline: none;
  border: none;
}
.plan-discipline-table-tr-td:nth-child(n + 3) {
  text-align: center;
  width: 4vw;
  border: 1px solid rgba(247, 247, 247, 1);
}

.plan-discipline-table-tr-td:last-child {
  width: 1.5vw;
  border: 1px solid rgba(247, 247, 247, 1);
}

.plan-discipline-table-tr-td:nth-last-child(2) {
  width: 0.3vw;
  border: 1px solid rgba(247, 247, 247, 1);
}

.plan-discipline-delete {
  height: 2.5vh;
  width: 2.5vh;
  cursor: pointer;
}

.plan-discipline-refresh {
  height: 1.8vh;
  width: 1.8vh;
  cursor: pointer;
}

.plan-disicpline-table-tbody {
  padding-top: 1vh;
  line-height: 2.8vh;
}

.plan-disciplines-empty-table {
  text-align: center;
  line-height: 24vh;
  color: rgba(116, 116, 122, 0.5);
  background-color: rgba(249, 251, 252, 1);
  border-radius: 0px 0px 25px 25px;
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 3.5vh;
}

.plan-disciplines-empty-table:hover {
  color: rgba(116, 116, 122, 0.3);
  background-color: rgba(249, 251, 252, 0.7);
}

.table-enter {
  opacity: 0;
}

.table-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.table-exit {
  opacity: 1;
}

.table-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.plan-discipline-table-tr-td-container-credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.plan-discipline-table-tr-td-percent {
  font-family: "Signika", sans-serif;
  font-weight: 250;
  font-size: 1.5vh;
  color: rgba(116, 116, 122, 1);
  width: 10%;
}

.plan-discipline-table-tr-td-input-lecture {
  width: 60%;
  height: 70%;
  text-align: left;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-discipline-table-tr-td-input-lab {
  text-align: left;
  width: 60%;
  height: 70%;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-discipline-table-tr-td-input-practice {
  text-align: left;
  width: 60%;
  height: 70%;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-discipline-table-tr-td-input-iws {
  text-align: left;
  width: 60%;
  height: 70%;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-discipline-table-tr-td-input-prep {
  text-align: left;
  width: 60%;
  height: 70%;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-discipline-table-tr-td-input-attestation {
  width: 70%;
  border: none; /* убираем границу */
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.plan-structure-discipline-data-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.plan-structure-discipline-data-modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgba(255, 255, 255);
  margin: 7% auto;
  padding: 1vh 1vh;
  width: 85%;
  height: 70%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.plan-structure-discipline-data-modal-content-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 0;
  align-self: center;
  width: 95%;
}
.plan-structure-discipline-data-modal-content-info-block {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.plan-structure-discipline-data-modal-content-info-block-label {
  width: 5.5vw;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  margin-right: 1vw;
}
.plan-structure-discipline-data-modal-content-info-block-name {
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 1.5vh;
}
.plan-structure-discipline-data-modal-content-info-discipline {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.plan-structure-discipline-data-modal-content-info-discipline-label {
  width: 5.5vw;
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  margin-right: 1vw;
}
.plan-structure-discipline-data-modal-content-info-discipline-name {
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 1.5vh;
}
.plan-structure-discipline-data-modal-content-info-panel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 0.5vh;
}
.plan-structure-discipline-data-modal-content-info-panel-add {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.5vw;
  width: 5.8vw;
  height: 3vh;
  margin-right: 2vw;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.plan-structure-discipline-data-modal-content-info-panel-add:focus {
  border: none;
  outline: none;
}
.plan-structure-discipline-data-modal-content-info-panel-add:hover {
  cursor: pointer;
  background-color: rgba(153, 149, 149, 0.3);
}
.plan-structure-discipline-data-modal-content-info-panel-add-content {
  color: rgba(61, 78, 87, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
}
.plan-structure-discipline-data-modal-content-info-panel-add-icon {
  height: 2.4vh;
  width: 2.4vh;
  border-radius: 10px;
  line-height: 2.4vh;
  margin-right: 0.5vw;
  text-align: center;
}
.plan-structure-discipline-data-modal-content-info-panel-delete {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.5vw;
  height: 3vh;
  width: 5.8vw;
  margin-right: 1vw;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.plan-structure-discipline-data-modal-content-info-panel-delete:hover {
  background-color: rgba(153, 149, 149, 0.3);
  cursor: pointer;
}
.plan-structure-discipline-data-modal-content-info-panel-delete:focus {
  border: none;
  outline: none;
}
.plan-structure-discipline-data-modal-content-info-panel-delete-icon {
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 10px;
  margin-right: 0.5vw;
}
.plan-structure-discipline-data-modal-content-info-panel-delete-content {
  color: rgba(61, 78, 87, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
}
.plan-structure-discipline-data-modal-caption-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}
.plan-structure-discipline-data-modal-caption {
  font-size: 1.75vh;
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: 700;
}
.plan-structure-discipline-data-modal-close {
  position: absolute;
  height: 3vh;
  width: 3vh;
  color: #aaa;
  top: 1vh;
  right: 1vw;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.plan-structure-discipline-data-modal-table-container {
  /* margin-top: 3vh; */
  max-height: 80%;
  height: 55%;
  max-width: 95%;
  overflow-y: scroll;
  overflow-x: scroll;
  /* width: 80%; */
}
.plan-structure-discipline-data-modal-table {
  /* margin-top: 4vh; */
  width: 100%;
  table-layout: fixed;
}
.plan-structure-discipline-data-modal-table-thead {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.plan-structure-discipline-data-modal-table-header-line {
  border-bottom: 0.5px solid rgba(247, 247, 247, 1);
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}
.plan-structure-discipline-data-modal-table-header-line-th-load {
  width: 15vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-data-modal-table-header-line-th {
  /* padding-left: 1vw; */
  width: 20vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-data-modal-table-header-line-th-sub {
  /* padding-left: 1vw; */
  width: 8vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-data-modal-table-header-line-th:nth-child(1) {
  width: 7vw;
}
.plan-structure-discipline-data-modal-table-tr:hover {
  background: rgba(249, 251, 252, 1);
}

.plan-structure-discipline-data-modal-table-tr:nth-child(even):hover {
  background: rgba(249, 251, 252, 1);
}

.plan-structure-discipline-data-modal-table-tr:nth-child(even) {
  height: 5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgba(247, 247, 247, 1);
}

.plan-structure-discipline-data-modal-table-tr {
  height: 5vh;
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgba(247, 247, 247, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: 500;
}
.plan-structure-discipline-data-modal-table-tr-active {
  background-color: rgb(242, 250, 254);
  height: 5vh;
  font-size: 1.5vh;
  border-bottom: 2px solid rgba(247, 247, 247, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: 500;
}

.plan-structure-discipline-data-modal-table-tbody-td {
  padding-left: 1vw;
  line-height: 2.8vh;
  text-align: left;
  /* border: 1px solid rgba(247, 247, 247, 1); */
}
.plan-structure-discipline-data-modal-table-tbody-td:nth-child(n + 2) {
  padding-left: 0vw;
  line-height: 2.8vh;
  text-align: center;
}
.plan-structure-discipline-data-modal-table-tbody-td-input {
  text-align: left;
  width: 60%;
  height: 70%;
  border: none; /* убираем границу */
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Signika", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(51, 51, 51);
}

.plan-structure-add-load-modal {
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.plan-structure-add-load-modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgba(255, 255, 255);
  margin: 7.5% auto;
  padding: 1vh 1vh;
  width: 15%;
  height: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.plan-structure-add-load-modal-caption-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4vh;
}
.plan-structure-add-load-modal-caption {
  font-size: 1.75vh;
  color: #312f31;
  font-family: "Signika", sans-serif;
  font-weight: 700;
}
.plan-structure-add-load-modal-close {
  position: absolute;
  height: 3vh;
  width: 3vh;
  color: #aaa;
  top: 1vh;
  right: 1vw;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.plan-structure-add-load-modal-table-container {
  /* margin-top: 3vh; */
  max-height: 90%;
  height: 70%;
  max-width: 90%;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  /* width: 80%; */
}
.plan-structure-add-load-modal-table {
  /* margin-top: 4vh; */
  width: 100%;
  /* table-layout: fixed; */
}
.plan-structure-add-load-modal-table-thead {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}

.plan-structure-add-load-modal-table-header-line {
  border-bottom: 0.5px solid rgba(247, 247, 247, 1);
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}
.plan-structure-add-load-modal-table-header-line-th {
  /* padding-left: 1vw; */
  width: 20vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-add-load-modal-table-tr:hover {
  background: rgba(249, 251, 252, 1);
}

.plan-structure-add-load-modal-table-tr:nth-child(even):hover {
  background: rgba(249, 251, 252, 1);
}

.plan-structure-add-load-modal-table-tr:nth-child(even) {
  height: 5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgba(247, 247, 247, 1);
}

.plan-structure-add-load-modal-table-tr {
  height: 5vh;
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgba(247, 247, 247, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: 500;
}
.plan-structure-add-load-modal-table-tr-active {
  background-color: rgb(242, 250, 254);
  height: 5vh;
  font-size: 1.5vh;
  border-bottom: 2px solid rgba(247, 247, 247, 1);
  color: rgba(55, 69, 80, 1);
  font-family: "Signika", sans-serif;
  font-weight: 500;
}

.plan-structure-add-load-modal-table-tbody-td {
  padding-left: 1vw;
  line-height: 2.8vh;
  text-align: left;
  /* border: 1px solid rgba(247, 247, 247, 1); */
}
.plan-structure-add-load-modal-content-add {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.5vw;
  width: 5.8vw;
  height: 3vh;
  margin-top: 4vh;
  margin-left: 6vw;
  /* margin-right: 1vw; */
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.plan-structure-add-load-modal-content-add:focus {
  border: none;
  outline: none;
}
.plan-structure-add-load-modal-content-add:hover {
  cursor: pointer;
  background-color: rgba(153, 149, 149, 0.3);
  /* border-radius: 6px; */
}
.plan-structure-add-load-modal-content-add-content {
  color: rgba(61, 78, 87, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
}
.plan-structure-add-load-modal-content-add-icon {
  height: 2.4vh;
  width: 2.4vh;
  border-radius: 10px;
  line-height: 2.4vh;
  margin-right: 0.5vw;
  text-align: center;
}
.plan-structure-discipline-data-modal-table-header-line-th-attest {
  width: 8vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-attest {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  /* white-space: pre-line; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.plan-structure-discipline-data-modal-table-header-line-th-common-hours {
  width: 8vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-common-amount-credits {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-common-amount-hours-exam {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-common-amount-hours {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-data-modal-table-header-line-th-aud-in-hours {
  width: 10vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-aud-in-hours-total {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-aud-in-hours {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-header-line-th-sub {
  /* padding-left: 1vw; */
  width: 4vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  /* white-space: nowrap; */
}
.plan-structure-discipline-block-modal-table-header-line-th {
  /* padding-left: 1vw; */
  width: 20vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-iws {
  width: 5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-iws-total {
  width: 5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-iws-control {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-tr-td {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  align-items: center;
}
.plan-structure-discipline-block-modal-table-tr-td-aud-hours {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
}
.plan-structure-discipline-block-modal-table-tr-td-aud-hours-cell {
  width: 33%;
  height: 2.8vh;
  text-align: center;
  padding: 0;
  border: 1px dashed rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-tr-td-iws-hours {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
}
.plan-structure-discipline-block-modal-table-tr-td-iws-hours-cell {
  width: 50%;
  height: 2.8vh;
  text-align: center;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border: 1px dashed rgba(247, 247, 247, 1);
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-code {
  /* padding-left: 1vw; */
  width: 9vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-refresh {
  /* padding-left: 1vw; */
  width: 3vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.plan-structure-discipline-block-modal-table-header-line-th-sub-delete {
  /* padding-left: 1vw; */
  width: 3vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
