.preview-container {
  display: flex;
  flex-direction: column;
  padding: 1vw 2vh;
  border-radius: 20px;
  margin-bottom: 3%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(255, 255, 255);
}

.preview-table-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.preview-table {
  width: 100%;
}

.preview-table-thead {
  position: sticky;
  top: 0;
  background-color: #f8f3f3;
}

.preview-table-thead-line {
  border-bottom: 1px solid rgb(155, 156, 159, 0.5);
  color: rgb(116, 116, 122);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}

.preview-table-tbody {
  padding-top: 1vh;
  line-height: 2.8vh;
}

.preview-table-tr-title {
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(196, 196, 196, 0.4);
}

.preview-table-tr {
  height: 4vh;
  color: rgba(77, 83, 95, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
}

.preview-table-tr:hover {
  background: #cfcccc;
}
.preview-table-table-container {
  max-height: 100vh;
  /* max-width: 100%; */
  overflow-y: scroll;
  /* overflow-x: scroll; */
}
.preview-table-table {
  /* margin-top: 4vh; */
  width: 100%;
  /* table-layout: fixed; */
}
.preview-table-table-thead {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255);
}
.preview-table-table-header-line {
  border-bottom: 0.5px solid rgba(247, 247, 247, 1);
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}
.preview-table-table-thead-line-td:nth-child(n + 3) {
  text-align: center;
  font-weight: 500;
}
.preview-table-table-thead-line-td:first-child {
  padding-left: 1vw;
  width: 15vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-thead-line-td-department-code {
  padding-top: 2.5vh;
  /* padding-bottom: 1vw; */
  width: 5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td-department-code {
  width: 5vw;
  max-width: 2vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid rgba(247, 247, 247, 1);
  text-align: center;
}
.preview-table-table-thead-line-td-shortcut {
  /* padding-left: 1vw; */
  width: 3vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
/* .plan-disciplines-table-thead-line-td:nth-child(1), */
.preview-table-table-thead-line-td:nth-child(2) {
  text-align: center;
  border: 1px solid rgba(240, 246, 251, 1);
  width: 7vw;
}
.preview-table-table-header-line-th-attest {
  width: 8vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-header-line-th-common-hours {
  width: 8vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-header-line-th-aud-in-hours {
  width: 10vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-header-line-th-iws {
  width: 5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 1.5vh;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-header-line-th-sub {
  /* padding-left: 1vw; */
  width: 4vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  /* white-space: nowrap; */
}
.preview-table-table-header-line-th-sub-code {
  /* padding-left: 1vw; */
  width: 9vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-header-line {
  border-bottom: 0.5px solid rgba(247, 247, 247, 1);
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bold;
  font-size: 1.5vh;
  height: 3vh;
}
.preview-table-table-header-line-th-sub-attest {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  /* white-space: pre-line; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.preview-table-table-header-line-th-sub-common-amount-credits {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vh;
  background-color: rgb(231, 233, 234);
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-header-line-th-sub-common-amount-hours {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-header-line-th-sub-common-amount-hours-exam {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.preview-table-table-header-line-th-sub-aud-in-hours-total {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.preview-table-table-header-line-th-sub-aud-in-hours-total {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.preview-table-table-header-line-th-sub-aud-in-hours {
  width: 2vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-header-line-th-sub-iws-total {
  width: 1.5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-header-line-th-sub-iws-control {
  width: 1.5vw;
  color: rgba(61, 78, 87, 0.8);
  font-family: "Signika", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vh;
  border: 1px solid rgba(247, 247, 247, 1);
  white-space: nowrap;
}
.preview-table-table-tbody {
  padding-top: 1vh;
  line-height: 2.8vh;
}
.preview-table-table-tr:hover {
  background: rgba(249, 251, 252, 1);
}

.preview-table-table-tr:nth-child(even):hover {
  background: rgba(249, 251, 252, 1);
}

.preview-table-table-tr {
  height: 6vh;
  color: rgba(61, 78, 87, 1);
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.5vh;
  background-color: rgba(255, 255, 255);
  border-bottom: 3px solid rgba(240, 246, 251, 1);
}
.preview-table-table-tr-td-shortcut {
  width: 3vw;
  max-width: 3vw;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(1) {
  padding-left: 1vw;
  width: 13vw;
  max-width: 13vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  /* text-overflow: ellipsis; */
  border-bottom: 3px solid rgba(240, 246, 251, 1);
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(6) {
  text-align: center;
  width: 4vw;
  font-weight: bold;
  background-color: rgb(231, 233, 234);
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(2) {
  width: 3vw;
  max-width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(3) {
  width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(4) {
  width: 3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td:nth-child(n + 3) {
  text-align: center;
  width: 1.5vw;
  border: 1px solid rgba(247, 247, 247, 1);
}

/* .preview-table-table-tr-td:last-child() {
  width: 2vw;
  max-width: 2vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid rgba(247, 247, 247, 1);
} */

.preview-table-table-tr-td-aud-hours {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
}
.preview-table-table-tr-td-aud-hours-cell {
  width: 33%;
  height: 2.8vh;
  text-align: center;
  font-size: 1.4vh;
  padding: 0;
  border: 1px dashed rgba(247, 247, 247, 1);
}
.preview-table-table-tr-td-iws-hours {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
}
.preview-table-table-tr-td-iws-hours-cell {
  width: 50%;
  height: 2.8vh;
  font-size: 1.4vh;
  text-align: center;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border: 1px dashed rgba(247, 247, 247, 1);
}
